global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'balance-tracker-vm'
    static_configs:
      # host.docker.internal maps to the Docker host's IP
      - targets: ['host.docker.internal:9100']
