subscribers:
{% for email in vault_subscribers %}
  - "{{ email }}"
{% endfor %}

cards:
{% for card in vault_cards %}
  - name: "{{ card.name }}"
    account_number: "{{ card.account_number }}"
    limit: {{ card.limit }}
    statement_day: {{ card.statement_day }}
    due_day: {{ card.due_day }}
    starting_balance: {{ card.starting_balance }}
    starting_date: "{{ card.starting_date }}"
{% if card.statement_grace_days is defined %}
    statement_grace_days: {{ card.statement_grace_days }}
{% endif %}
{% endfor %}

smtp:
  host: "smtp.gmail.com"
  port: 587
  user: "{{ vault_smtp_user }}"
  password: "{{ vault_gmail_app_password }}"
