subscribers:
  - "REDACTED_EMAIL"
  - "REDACTED_EMAIL"

cards:
  - name: "Discover"
    account_number: "3550"
    limit: 11600.00
    statement_day: 4
    due_day: 3
    starting_balance: 838.10
    starting_date: "2026-02-04"
  - name: "Chase"
    account_number: "1122"
    limit: 18900.00
    statement_day: 22
    due_day: 19
    starting_balance: 1282.85
    starting_date: "2026-01-22"
  - name: "Chase"
    account_number: "4419"
    limit: 18900.00
    statement_day: 13
    due_day: 10
    starting_balance: 1962.67
    starting_date: "2026-01-13"
  - name: "Discover"
    account_number: "2972"
    limit: 14700.00
    statement_day: 18
    due_day: 13
    starting_balance: 1235.72
    starting_date: "2026-01-18"
  - name: "Capital One"
    account_number: 2681
    limit: 13000.00
    statement_day: 17
    due_day: 11
    starting_balance: 1521.64
    starting_date: "2026-01-17"

smtp:
  host: "smtp.gmail.com"
  port: 587
  user: "REDACTED_EMAIL"
  password: "{{ vault_gmail_app_password }}" # Injected via Ansible Vault
